mat-dialog-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
  height: 80%;
}

h1{
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.mat-dialog-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 50%;
}

.mat-actions-dialog{
  display: flex;
  justify-content: flex-end;
}
