.editor
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
}

.dialog-wrapper{
  height: 100%;
  justify-content: center;
}

mat-dialog-content{
  margin: 0;
  padding: 0;
  height: 100px;
}

mat-dialog-content > mat-tab-group{
  height: 100%;
}

.mat-tab-body-wrapper {
  position:relative;
  overflow:hidden;
  display:flex;
  transition:height .5s cubic-bezier(.35,0,.25,1);
  height: 100%;
}

