<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/App_Data/logs/${shortdate}" />

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="fileLogInfo" fileName="${logDirectory}/info.txt"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:includeSourcePath=true:methodName=true}|${message}" />
    <target xsi:type="File" name="fileLogErrors" fileName="${logDirectory}/errors.txt"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:includeSourcePath=true:methodName=true}|${message}|${exception:format=ToString,StackTrace}" />
    <target xsi:type="File" name="fileLogFatal" fileName="${logDirectory}/fatal.txt"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:includeSourcePath=true:methodName=true}|${message}|${exception:format=ToString,StackTrace}" />
    <target xsi:type="File" name="mailsLog" fileName="${logDirectory}/mails.txt"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:includeSourcePath=true:methodName=true}|${message}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    <logger name="*" level="Fatal" writeTo="fileLogFatal" />
    <logger name="Intranet.Utilities.Mail.*" minLevel="Trace" writeTo="mailsLog"/>
  </rules>
</nlog>
