.syncronize-wrapper {
  height: 100%;
  width: 100%;
}

.connections-string-selector {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

connection-wrapper {
  margin: 5px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.localization-changed-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.diff-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.bttn-wrapper {
  display: flex;
  flex-direction: row;
}

button {
  height: 42px;
}

.monaco-wrapper {
  height: 100%;
}

.diff-viewer {
  height: 73vh !important;
  display: flex;
  flex-direction: column;
}


.tree-wrapper:hover {
  overflow: auto;
}

.locale-groups {
  height: 60px;
}


mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tabgroup{
  width:95%;
}
.options-wrapper {
  align-items: center;
  justify-content: center;
}

.options-wrapper-side {
  width: 5%;
}

.options-monaco {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}
