<ng-container class ="actions" matColumnDef="actions" stickyEnd>
  <button mat-icon-button [matMenuTriggerFor]="matMenu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #matMenu ="matMenu">
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <a [routerLink]="[routeEditLink, id]">Edit</a>
    </button>
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>delete</mat-icon>
      <a>Delete</a>
    </button>
  </mat-menu>
</ng-container>
