#connectionHeader{
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
}

.container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 460px;
  overflow: auto;
}

.mat-item{
  width: 100%;
  display: inherit;
  justify-content: space-between;
}

.matList{
  overflow: auto;
}

@media (max-width: 768px) {
  span {
    font-size: 14px;
    padding: 5px;
  }
}
