table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 97%;
}

#fieldGroup {
  width: 100%;
}

mat-header-cell > span.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-cell > span.truncate-text  {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 20px;
  }
}
#noRecords{
  text-align: center;
}
