<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Localization Editor</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngFor="let route of routes">
        <div *ngIf="!route.childRoutes?.length > 0">
          <a mat-list-item routerLink="{{route.route}}">{{route.name}}</a>
        </div>
        <div *ngIf="route.childRoutes?.length > 0">
          <button mat-button [matMenuTriggerFor]="connection">{{route.name}}</button>
          <mat-menu #connection>
            <mat-list-item *ngFor="let childRoute of route.childRoutes">
              <a mat-button routerLink="{{childRoute.route}}">{{childRoute.name}}</a>
            </mat-list-item>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
